*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url('images/the-best-social-media-platforms-for-gamers-scaled.jpg') no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

.buttons-container {
    text-align: center;
    margin-bottom: 50px; /* Adjust the margin as needed */
}

.buttons-container button {
    width: 50px; /* Adjust the width and height to make the button circular */
    height: 50px;
    border-radius: 50%;
    background-color: #3498db; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    border: none;
    margin: 0 10px; /* Adjust the margin between buttons as needed */
    cursor: pointer;
    font-size: 16px;
}

/* Hover effect for buttons */
.buttons-container button:hover {
    background-color: #2980b9; /* Change the hover background color as needed */
}

a {
    text-decoration: none; /* Removes underlines for unvisited links */
     /* Set your preferred link color */
}

a:visited {
    text-decoration: none; /* Removes underlines for visited links */
}